:root {
  /* Fuente global */
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* opcional: asegurar que herede la fuente y otros estilos globales */
  font-family: inherit;
  margin: 0;
  padding: 0;
}

/* Colores claros para el modo light */
@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    background-color: #fff;
  }
}


/* Ocultar flechas del carrusel en mobile */
@media (max-width: 767px) {
  .p-carousel-prev,
  .p-carousel-next {
    display: none !important;
  }
}

/* Espaciado entre cards en tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .p-carousel .p-carousel-item {
    padding: 0 0.5rem;
  }
}

